.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: fit-content;
  max-width: fit-content;
  min-height: fit-content;
  max-height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  background-color: #393939;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}

.project {
  width: max-content;
  height: max-content;
  background-color: #2d2d2d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.show-more {
  text-align: center;
  margin-top: 10px;
}
.show-more a {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.mibox {
  display: block;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 15%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #393939;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
}
