<div>
  <link href="./feature-card1.css" rel="stylesheet" />
  <div class="feature-card1-feature-card">
    <h2 class="feature-card1-text"><span>Five Nights at Spigg's</span></h2>
    <span>
      <span>
        A crappy recreation of Five Nights at Freddy's with characters based
        around AstralSpiff and his streams.
      </span>
    </span>
    <a
      href="https://../files/fnas.zip"
      target="_blank"
      rel="noreferrer noopener"
      class="feature-card1-link button"
    >
      <span>download</span>
    </a>
  </div>
</div>
